app:
  replicaCount: 1
  image:
    repository: ghcr.io/rusakovdv/myapp
    tag: 1.0.0
    pullPolicy: IfNotPresent
  service:
    port: 8080
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

redis:
  image: redis:alpine
  port: 6379

ingress:
  enabled: false
  className: "nginx"
  hosts:
    - host: myapp.local
      paths:
        - path: /
          pathType: Prefix


serviceMonitor:
  enabled: true
  releaseLabel: prometheus